.Form-wrapper {
    position: relative;
    display: block;
}

.Form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.Form-error-label {
    text-align: center;
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
    cursor: default;
    color:red;
}

.Form-progress {
    opacity: 0.5;
}

.Form-loading-icon {
    position: absolute;
    top: 30%;
    left: 48%;
    color:#1a3553;
    width: 30px;
    height: 30px;
    -webkit-animation: rotation 2s infinite linear;
    z-index: 300;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

.Form-success-chip {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Form-success-chip-check {
    margin-top: 20px;
    color: #32db64;
    width: 50px;
    height: 50px;
}

.Form-intro-text {
    font-size: 13px;
    width: 70vw;
    text-align: center;
    margin: 20px auto;
}

.Form-submit-button {
    margin-left: auto;
    margin-right: auto;
}