.ErrorText {
    display: none;
    font-size: 12px;
    margin: 5px 0 10px;
    transition: height ease-in 200ms;
    cursor: default;
    color: red;
    max-width: 250px;
}

.ErrorText-visible {
    display: block;
}